<!doctype html>
<html lang="en">

    <head>
        <title>TuringTest.io</title>
        <meta charset="utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% block extra_headers %}
        {% endblock %}
        
        {% load bootstrap3 %}
        {% bootstrap_css %}
        
        {% load staticfiles %}
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'wolfepackio/img/logo.png' %}" />
        <!--<link rel="shortcut icon" type="image/x-icon" href="{% static 'wolfepackio/img/favicon.ico' %}" />-->
        <link rel="apple-touch-icon" href="{% static 'wolfepackio/img/logo.png' %}" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'ttio/css/main.css' %}" />
        
        {% block extra_css %}
        {% endblock %}
        
        {% comment %}
        <!-- We don't use bootstrap js right now -->
            {% bootstrap_javascript %}
        {% endcomment %}

        
        <!-- Routes up to IE 9 to Firefox download. 10 and 11 are ok on the site -->
        <!--[if IE]>
            <script type="text/javascript"> window.location = "http://www.mozilla.org/en-US/firefox/new/"; </script>
        <![endif]-->


    </head>

    {% block content %}
        <!-- This is where individual pages' content will go. -->
    {% endblock content %}
    
    
    {% block javascript %}
        {% block extra_js %}
        
        {% endblock %}
    
    {% endblock %}
    
</html>